{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <div class="col-12 text-center mt-3">
        <h1>Bienvenue sur le backoffice de Meet Us</h1>
        <p class="text-muted">Sur cette page d'accueil, bientôt, vous trouverez un petit aperçu des derniers évènements
            créés sur la plateforme.</p>
    </div>
{% endblock %}
