{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <div>
        <h1>Détail de la catégorie {{ category.name }}</h1>
    </div>
    <p> ID de la catégorie : {{ category.id }} </p>
    <p> Photo de la catégorie : {{ category.picture }} </p>

{% endblock %}
