{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div>
    <h1>Détail de la catégorie {{category.name}}</h1>
</div>

            <th>{{ category.id }}</th>
            <td>{{ category.name }}</td>
            <td>{{ category.picture}}</td>  




{% endblock %}
