<div class="row">
    <div class="col-12 col-sm-4 col-md-3 mt-2 text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nouveaux évènements</h5>
                <strong>{{ newEventsThisWeek }}</strong>
            </div>
            <div class="card-footer">Cette semaine</div>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 mt-2 text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nouveaux utilisateurs</h5>
                <strong>{{ newUsersThisWeek }}</strong>
            </div>
            <div class="card-footer">Cette semaine</div>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 mt-2 text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nouveaux évènements</h5>
                <strong>{{ newEventsThisMonth }}</strong>
            </div>
            <div class="card-footer">Ce mois-ci</div>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 mt-2 text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nouveaux utilisateurs</h5>
                <strong>{{ newUsersThisMonth }}</strong>
            </div>
            <div class="card-footer">Ce mois-ci</div>
        </div>
    </div>
</div>
